<!--Navigation-->
<nav class="navbar-default navbar-static-side main-navigation" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav tut-main-topics-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">

                    <span class="flex-general-row-wrapper-center">
                        <img alt="image" style="width: 60%; border-radius: 50%;" class="animated slideInLeft menu-img" src="public/img/CbLogoIcon.png"/>
                        <!--<i class="fa fa-book fa-2x" style="color:white;"></i>-->
                    </span>

                </div>
                
            </li>
        </ul> 
           
        <ul class="nav tut-main-topics-menu just-navmenu" id="side-menu">
            <li class="active">
                <a href="index-2.html">
                    <i class="fa fa-cloud "></i> 
                    <span class="nav-label">Getting Started</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic active"> 
                        <a  class="category-select-menubtn" href="/en/gettingstarted/yourfirstapp" data-subcat="">
                         <span class="nav-label">Your First App</span>
                        </a>
                    </li>   

                </ul>
            </li>
            <li class="">
                <a href="index-2.html">
                    <i class="fa fa-database"></i> 
                    <span class="nav-label">Objects and Files</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/datastorage/objects" data-subcat="">
                         <span class="nav-label">Objects</span>
                        </a>
                    </li>
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/datastorage/relations" data-subcat="">
                         <span class="nav-label">Relations</span>
                        </a>
                    </li>
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/datastorage/geopoint" data-subcat="">
                         <span class="nav-label">Geo Point</span>
                        </a>
                    </li>
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/datastorage/files" data-subcat="">
                         <span class="nav-label">Files</span>
                        </a>
                    </li>
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/datastorage/bulkapi" data-subcat="">
                         <span class="nav-label">Bulk API</span>
                        </a>
                    </li>   

                </ul>
            </li>
            <li class="">
                <a href="index-2.html">
                    <i class="fa fa-code"></i> 
                    <span class="nav-label">Query</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/query/basicqueries" data-subcat="">
                         <span class="nav-label">Basic Queries</span>
                        </a>
                    </li>
                </ul>
            </li> 
            <li class="">
                <a href="index-2.html">
                    <i class="fa fa-comment"></i> 
                    <span class="nav-label">Real Time</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/realtime/customnotifications" data-subcat="">
                         <span class="nav-label">Custom Notifications</span>
                        </a>
                    </li>
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/realtime/cloudobjectnotifications" data-subcat="">
                         <span class="nav-label">CloudObject Notifications</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="index-2.html">
                    <i class="fa fa-search"></i> 
                    <span class="nav-label">Search</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/search/basicsearch" data-subcat="">
                         <span class="nav-label">Basic Search</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="index-2.html">
                    <i class="fa fa-users"></i> 
                    <span class="nav-label">Users and Roles</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/security/acl" data-subcat="">
                         <span class="nav-label">ACL</span>
                        </a>
                    </li>
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/security/roles" data-subcat="">
                         <span class="nav-label">Roles</span>
                        </a>
                    </li>
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/security/users" data-subcat="">
                         <span class="nav-label">Users</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="index-2.html">
                    <i class="fa fa-refresh"></i> 
                    <span class="nav-label">Offline Sync</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/offlinesync/localstore" data-subcat="">
                         <span class="nav-label">Local Store</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="index-2.html">
                    <i class="fa fa-table"></i> 
                    <span class="nav-label">Tables</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/schema/cloudtables" data-subcat="">
                         <span class="nav-label">Cloud Tables</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="index-2.html">
                    <i class="fa fa-cloud"></i> 
                    <span class="nav-label">Integration</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/integrations/slack" data-subcat="">
                         <span class="nav-label">Slack</span>
                        </a>
                    </li>
                    <li class="change-topic"> 
                        <a  class="category-select-menubtn" href="/en/integrations/zapier" data-subcat="">
                         <span class="nav-label">Zapier</span>
                        </a>
                    </li>
                </ul>
            </li>                  

          
            <!--<li>
                <a href="index-2.html">
                    <i class="fa fa-th-large"></i> 
                    <span class="nav-label">Dashboards</span> 
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="index-2.html">Dashboard v.1</a></li>
                    <li ><a href="dashboard_2.html">Dashboard v.2</a></li>
                    <li ><a href="dashboard_3.html">Dashboard v.3</a></li>
                </ul>
            </li> -->              
        </ul>
    </div>
</nav>
<!--Navigation-->
