<!--On Menu toggling-->
<div  id="togglemenu-shade" class="togglemenu-tut-wrapper flex-general-column-wrapper-center">                
    <div class="flex-general-column-wrapper-center">                           
        <div class="flex-general-column-wrapper-center">             
        </div>                                                      
    </div>                 
</div>
<!--/On Menu toggling-->

<!--Header Nav-->    
<div class="page-header-cust row border-bottom">
    <nav class="navbar navbar-static-top freeze-nav yapiskan" role="navigation" style="margin-bottom: 0">
     <div class="toggle" style="display:none">
        <img align="left" src="/public/img/icon-copy.png" alt="" style="margin:2px"/>
        <i class="fa fa-bars mob-menu" aria-hidden="true"></i>
     </div>
     <ul class="mobile-new-nav" style="display:none">
        <li class="mobile-new-list mob-submenu1"><a href="#" class="mobile-list-a">+ Getting Started</a>
            <ul class="mobile-new-subnav1" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/gettingstarted/yourfirstapp" class="mobile-sublist-a">- Your First App</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu2"><a href="#" class="mobile-list-a">+ Objects & Files</a>
            <ul class="mobile-new-subnav2" style="display:none">
              <li class="mobile-new-sublist change-topic"><a href="/en/datastorage/objects" class="mobile-sublist-a">- Objects</a></li>
              <li class="mobile-new-sublist"><a href="/en/datastorage/relations" class="mobile-sublist-a">- Relations</a></li>
              <li class="mobile-new-sublist"><a href="/en/datastorage/geopoint" class="mobile-sublist-a">- Geo Point</a></li>
              <li class="mobile-new-sublist"><a href="/en/datastorage/files" class="mobile-sublist-a">- Files</a></li>
              <li class="mobile-new-sublist"><a href="/en/datastorage/bulkapi" class="mobile-sublist-a">- Bulk Api</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu3"><a href="#" class="mobile-list-a">+ Query</a>
            <ul class="mobile-new-subnav3" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/query/basicqueries" class="mobile-sublist-a">- Basic Queries</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu4"><a href="#" class="mobile-list-a">+ Real Time</a>
            <ul class="mobile-new-subnav4" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/realtime/customnotifications" class="mobile-sublist-a">- Custom Notifications</a></li>
              <li class="mobile-new-sublist"><a href="/en/realtime/cloudobjectnotifications" class="mobile-sublist-a">- CloudObject Notifications</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu5"><a href="#" class="mobile-list-a">+ Search</a>
            <ul class="mobile-new-subnav5" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/search/basicsearch" class="mobile-sublist-a">- Basic Search</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu6"><a href="#" class="mobile-list-a">+ Users & Roles</a>
            <ul class="mobile-new-subnav6" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/security/acl" class="mobile-sublist-a">- ACL</a></li>
              <li class="mobile-new-sublist"><a href="/en/security/roles" class="mobile-sublist-a">- Roles</a></li>
              <li class="mobile-new-sublist"><a href="/en/security/users" class="mobile-sublist-a">- Users</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu7"><a href="#" class="mobile-list-a">+ Push Notifications</a>
            <ul class="mobile-new-subnav7" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/pushnotifications/javascript" class="mobile-sublist-a">- Web / JavaScript</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu8"><a href="#" class="mobile-list-a">+ Offline Sync</a>
            <ul class="mobile-new-subnav8" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/offlinesync/localstore" class="mobile-sublist-a">- Local Store</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu9"><a href="#" class="mobile-list-a">+ Tables</a>
            <ul class="mobile-new-subnav9" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/schema/cloudtables" class="mobile-sublist-a">- Cloud Tables</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu10"><a href="#" class="mobile-list-a">+ Queues</a>
            <ul class="mobile-new-subnav10" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/queues/basicqueues" class="mobile-sublist-a">- Basic Queues</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu11"><a href="#" class="mobile-list-a">+ Cache</a>
            <ul class="mobile-new-subnav11" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/cache/basiccache" class="mobile-sublist-a">- Basic Cache</a></li>
            </ul>
        </li>
        <li class="mobile-new-list mob-submenu12"><a href="#" class="mobile-list-a">+ Integration</a>
            <ul class="mobile-new-subnav12" style="display:none">
              <li class="mobile-new-sublist"><a href="/en/integrations/slack" class="mobile-sublist-a">- Slack</a></li>
              <li class="mobile-new-sublist"><a href="/en/integrations/zapier" class="mobile-sublist-a">- Zapier</a></li>
            </ul>
        </li>
     </ul>
        <div class="navbar-header" style="margin-top:-5px;">
            <div class="flex-general-row-wrapper">
                <a class="navbar-minimalize minimalize-styl-2 menu-doorkey" href="#" style="font-size:20px;color:#20A2D6;">
                    <i class="fa fa-bars"></i> Menu
                </a>
                <div class="vert-divider navbar-minimalize minimalize-styl-2"></div>
                <a href="http://www.cloudboost.io" target="_blank" class="minimalize-styl-2 " style="font-size:20px;color:#444444; margin-left:-20px; cursor:pointer;">
                    <i class="fa fa-home" style="margin-right:4px;"></i>CloudBoost
                </a>
            </div>                        
        </div>
        <ul class="navbar-top-links navbar-right header-navs">                   
            <li>
               <a href="https://docs.cloudboost.io/" target="blank" class="top-nav-anchor"> 
                   <div class="flex-general-column-wrapper-center">
                    <i class="fa fa-book fa-lg"></i>
                   </div> 
                   <div class="flex-general-column-wrapper-center">
                    API Reference
                   </div>  
               </a>                     
            </li>  
             <li>
                <a href="https://www.cloudboost.io/pricing" target="blank" class="top-nav-anchor"> 
                   <div class="flex-general-column-wrapper-center">
                    <i class="fa fa-money fa-lg"></i>
                   </div> 
                   <div class="flex-general-column-wrapper-center">
                    Pricing
                   </div>
               </a>                        
            </li>
             <li>
               <a href="https://dashboard.cloudboost.io/accounts/" target="blank" class="top-nav-anchor"> 
                   <div class="flex-general-column-wrapper-center">
                    <i class="fa fa-desktop fa-lg"></i>
                   </div> 
                   <div class="flex-general-column-wrapper-center">
                    Portal
                   </div>
               </a>                        
            </li>               
        </ul>

    </nav>        
</div>
<!--Header Nav-->