<!--On Menu toggling-->
<div  id="togglemenu-shade" class="togglemenu-tut-wrapper flex-general-column-wrapper-center">                
    <div class="flex-general-column-wrapper-center">                           
        <div class="flex-general-column-wrapper-center">             
        </div>                                                      
    </div>                 
</div>
<!--/On Menu toggling-->

<!--Header Nav-->    
<div class="page-header-cust row border-bottom">
    <nav class="navbar navbar-static-top freeze-nav yapiskan" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header" style="margin-top:-5px;">
            <div class="flex-general-row-wrapper">
                <a class="navbar-minimalize minimalize-styl-2 menu-doorkey" href="#" style="font-size:20px;color:#20A2D6;">
                    <i class="fa fa-bars"></i> Menu
                </a>
                <div class="vert-divider navbar-minimalize minimalize-styl-2"></div>
                <a href="http://www.cloudboost.io" target="_blank" class="minimalize-styl-2 " style="font-size:20px;color:#444444; margin-left:-20px; cursor:pointer;">
                    <i class="fa fa-home" style="margin-right:4px;"></i>CloudBoost
                </a>
            </div>                        
        </div>
        <ul class="navbar-top-links navbar-right header-navs">                   
            <li>
               <a href="https://docs.cloudboost.io/" target="blank" class="top-nav-anchor"> 
                   <div class="flex-general-column-wrapper-center">
                    <i class="fa fa-book fa-lg"></i>
                   </div> 
                   <div class="flex-general-column-wrapper-center">
                    API Reference
                   </div>  
               </a>                     
            </li>  
             <li>
                <a href="https://www.cloudboost.io/pricing" target="blank" class="top-nav-anchor"> 
                   <div class="flex-general-column-wrapper-center">
                    <i class="fa fa-money fa-lg"></i>
                   </div> 
                   <div class="flex-general-column-wrapper-center">
                    Pricing
                   </div>
               </a>                        
            </li>
             <li>
               <a href="https://dashboard.cloudboost.io/accounts/" target="blank" class="top-nav-anchor"> 
                   <div class="flex-general-column-wrapper-center">
                    <i class="fa fa-desktop fa-lg"></i>
                   </div> 
                   <div class="flex-general-column-wrapper-center">
                    Portal
                   </div>
               </a>                        
            </li>               
        </ul>

    </nav>        
</div>
<!--Header Nav-->