language: node_js
node_js:
  - "6"
install:
  - npm install
deploy:
  provider: azure_web_apps
  username: "$azure_deployment_user"      
  password: "$azure_deployment_password"
  site: "$azure_deployment_sitename" 
