<!DOCTYPE html>
<html lang="en">

<head>
    <title>CloudBoost</title>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudBoost is one complete Database Solution for your apps which does data-storage, search and realtime, graphs, time-series and much more.">
    <meta name="keywords" content="database service,database as a service, hybrid database, cloudboost, search, realtime, storage, app storage, nosql">

    <!--Common head links-->
    <% include ./partials/commonHeadLinks %>



</head>

<body>

    <div id="wrapper">

        <div id="page-wrapper" class="white-bg" style="background: #2f4050;">
            <!--Header Nav-->
            <% include ./partials/header %>
                <!--Header Nav-->
                <div style="margin-top: 15%;color: white;padding-left: 10%;padding-bottom:10%">
                    <h3 style="    font-family: 'Signika', sans-serif;font-size: 50px;">404</h3>
                    <h4>Sorry but the page you're looking for does not exist.</h4>
                    <div style="margin-top:3%">
                        <a href="/" style="background: #549afc;padding: 16px 24px;border-radius: 20px;color: white;font-weight: 600;">Go back to getting started</a>
                        <a href="mailto:support@cloudboost.io" style="background: #549afc;padding: 16px 24px;border-radius: 20px;color: white;font-weight: 600;">Report a problem</a>
                    </div>
                </div>


        </div>
    </div>

    <!--Scripts-->
    <% include ./partials/commonScripts %>

</body>

</html>
